*{
    margin: 0%;
    padding: 0%;
    border: 0%;
}
body{
    background: #ecf0f1;

}
h1,h2,h3,h4{
    align-items: center;
    text-align: center;
    height: 15px;


    
}
header{
    font-family: sans-serif;
    margin: 0;
    display: flex;
    height: 70px;
    background-color: turquoise;
    align-items: center;
    padding: 10px;

}


 header div img{
    display: flex;
    height: 90px;
    align-items: center;
    margin-right: 1000px;
 
}
a{
    text-decoration: none;
    color: black;
   
}


nav a:hover{
    color: aliceblue;
}

p{
    color: #524c56;
    text-align: justify;
    
    
}
img{
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
    width: auto;
    margin-bottom: -4px;
}

